{% if theme.canvas_nest.enable %}

<script color="{{ theme.canvas_nest.color }}"
        opacity="{{ theme.canvas_nest.opacity }}"
        zIndex="{{ theme.canvas_nest.zIndex }}"
        count="{{ theme.canvas_nest.count }}"
        src="/js/canvas-nest/canvas-nest.min.js">
</script>

{% endif %}
